# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
1.删除app.css
2.删除app.test.js 无用的测试文件
3.删除logo.svg
4.删除setupTests.js 无用的测试文件
5.安装scss npm install sass -D  npm install node-sass --save 支持一些原生css不支持的高级语法，比如嵌套，变量使用等，让代码更加高效灵活
6.安装AntD 文档https://ant.design/docs/react/use-with-create-react-app-cn
7.配置基础路由router 安装路由包 npm install react-router-dom --save;..........等
8.配置@别名路径 安装craco 工具包-》增加mcraco.config.js文件-》修改scripts命令-》测试
npm i @craco/craco -D 安装好后吧原本的npackage.json里的"scripts": {
    "start": "react-scripts start",
    "build": "react-scripts build",
    "test": "react-scripts test",
    "eject": "react-scripts eject"
  },替换为"scripts": {
    "start": "craco start",
    "build": "craco build",
    "test": "craco test",
    "eject": "react-scripts eject"
  },重启项目
9.vscode提示配置
在项目根目录创建jsconfig.json配置文件，添加以下配置
{
    "compilerOptions": {
        "baseUrl": "./",
        "paths": {
            "@/*": ["src/*"]
        }
    }
}
10.使用gitee管理项目
echo "# react-hooplike" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/zegina/react-hooplike.git
git push -u origin main

git remote add origin https://github.com/zegina/react-hooplike.git
git branch -M main
git push -u origin main
11.安装axios npm install axios 
12.使用redux 安装 npm install @reduxjs/toolkit 和 npm install redux
13.layout页面
14.安装npm install normalize.css 样式初始化 比如在入口文件index.js中引入import 'normalize.css'
layout二级路由配置,新建article,home,publish文件夹，在router配置
点击左侧菜单，对应的页面展示，跳转路由，const onMenuClick = (route) => {
        console.log('菜单被点击了', route)
        const path = route.key
        navigate(path)
    }
点击当前菜单，实现高亮
 // 1. 获取当前路由路径，通过提供的useLocation()钩子
    const location = useLocation()
    console.log(location.pathname)
    const selectedkey = location.pathname
    把selectedkey添加到<Menu />
Layout展示个人信息，用户信息应该放到哪里？放到redux里面，因为用户信息是全局的，任何地方都可以使用